#rsvp_button {
	display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    background-color: lightblue;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#rsvp_button:hover {
    background-color: LightSkyBlue;
 }

h1 {
	text-align: center;
    font-size: 36px;
}

h3 {
	text-align: center;
    font-size: 24px;
}

#rsvp_list {
	margin: auto;
    color : blue;
    text-align: center;
    font-size: 16px;
    width: 90%;
    border-style: solid;
    border-color: black;
    border-collapse: collapse
}

#rsvp_list #rsvp_header {
	border-style: solid;
    border-color: black;
    background-color : lightgrey;
    color : black;
}

#rsvp_list .rsvp-row {
	color: black;
	overflow: hidden;
	white-space: nowrap;
}

#rsvp_list .rsvp-row:nth-child(even) {background: #FFF}
#rsvp_list .rsvp-row:nth-child(odd) {background: Gainsboro}

#rsvp_list #name-header {
    width: 35%;
}

#rsvp_list #email-header {
    width: 45%;
}

#rsvp_stats {
	margin: auto;
    color : blue;
    text-align: center;
    font-size: 36px;
    height: 100px;
    width: 90%;
    margin-bottom : 64px;
    border-style: solid;
    border-color: black;
    border-radius : 25px;
    overflow: hidden;
}
#rsvp_stats .yCol {
	color : darkgreen
}
#rsvp_stats .nCol {
	color : darkred
}
#rsvp_stats .mCol {
	color : GoldenRod
}
#rsvp_stats th {
	 background-color : lightgrey;
     width: 30%;
     font-size: 16px;
}