/* General styling */
body {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 98%);
    margin: 0;
    padding: 0;
}

/* Non-profit header section */
#non-profit-header {
    text-align: center;
    padding: 20px;
    background-color: #007bff;
    color: #fff;
    margin-bottom: 20px;
}

#non-profit-name {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
}

#non-profit-details {
    font-size: 1.2rem;
    margin: 10px 0;
}

#non-profit-image {
    max-width: 150px;
    height: auto;
    border-radius: 50%;
    margin-top: 10px;
}

#event-buttons {
    display: flex;
    align-items: center;
    margin: 20px;
}

#create-event-button {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#create-event-button button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#create-event-button button:hover {
    background-color: #0056b3;
}

#event-list {
    margin: 0 auto;
    display: grid;
    gap: 20px;
    padding: 20px;
    width: 80%;
}

#event-list img {
    width: 20%;
    border-radius: 8px;
    object-fit: cover;
}

#event-filter {
    position: absolute; left: 50%; transform: translateX(-50%);
}

#segmented-button {
    display: flex;
}

.segmented {
    border: 1px solid #ccc;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f9f9f9;
    color: #333;
    outline: none;
    font-weight: 500;
}

.segmented:hover {
    background-color: #e6e6e6;
    color: #333;
}

.segmented.curr {
    background-color: #007bff; /* Highlight active side */
    color: white;
    font-weight: 600;
}

.segmented:not(.curr) {
    background-color: #f1f1f1; /* Dim non-active side */
    color: #666;
}

#pagination-controls{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#pagination-buttons{
    width: 8%;
    min-width: 100px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

/* Responsive styling */
@media (max-width: 768px) {
    #non-profit-header {
        padding: 15px;
    }

    #non-profit-name {
        font-size: 1.5rem;
    }

    #non-profit-details {
        font-size: 1rem;
    }

    #create-event-button button {
        font-size: 0.9rem;
        padding: 8px 16px;
    }

    #event-list {
        grid-template-columns: 1fr;
    }
}
